[Unit]
Description=spd startup
Wants=network.target
After=syslog.target network-online.target

[Service]
User=klack
Type=Simple
ExecStart=/bin/bash -c /opt/scprime_scripts/spd-startup.sh
KillMode=process
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
